/* 
Crypto Project , Projeto de Cryptografia / CSS PART
Version: AlphaPrototype0.1
*/

@keyframes RainbowBorder {
0%{
    border: 2px solid rgb(255, 255, 0);
}
20%{
    border: 2px solid rgb(0, 255, 255);
}
40%{
    border: 2px solid rgb(255, 0, 255);
}
60%{
    border: 2px solid rgb(0, 0, 255);
}
80%{
    border: 2px solid rgb(0, 255, 0);
}
100%{
    border: 2px solid rgb(255, 0, 0);
}
}
body{
    background-color: #0a0a0a;
}
*{
    position: fixed;
    outline: none;
}
#SelectLeft{
margin-left: 400px;
margin-top: 365px;
border: 2px solid whitesmoke;
border-radius: 10px;
background-color: #0a0f0a;
color: white;
}
#SelectRight{
    margin-left: 900px;
    margin-top: 365px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: #0a0f0a;
    color: white;
}
#TextInputLeft{
    margin-left: 400px;
    margin-top: 180px;
    width: 400px;
    height: 150px;
    max-width: 400px;
    max-height: 150px;
    min-width: 400px;
    min-height: 150px;
    animation: RainbowBorder 5s  infinite alternate;
    border-radius: 10px;
    background-color: #0f0a0f;
    color: white;
    overflow: none;
}
#TextInputRight{
    margin-left: 900px;
    margin-top: 180px;
    width: 400px;
    height: 150px;
    max-width: 400px;
    max-height: 150px;
    min-width: 400px;
    min-height: 150px;
    animation: RainbowBorder 5s  infinite alternate;
    border-radius: 10px;
    background-color: #0f0a0f;
    color: white;
    overflow: none;
}
#TranslateButtonLeft{
    margin-left: 400px;
    margin-top: 340px;
    width: 200px;
    height: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: #0a0f0a;
    color: white;
}
#TranslateButtonRight{
    margin-left: 900px;
    margin-top: 340px;
    width: 200px;
    height: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: #0a0f0a;
    color: white;
}
#KeyPositionLeft{
    margin-left: 610px;
    margin-top: 340px;
    width: 200px;
    height: 20px;
}
#KeyPositionRight{
    margin-left: 1110px;
    margin-top: 340px;
    width: 200px;
    height: 20px;
}
#KeySpaceLeft{
    width: 200px;
    height: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: #0a0f0a;
    color: white;
}
#KeySpaceRight{
    width: 200px;
    height: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: #0a0f0a;
    color: white;
}