<!--
Crypto Project , Projeto de Cryptografia / EJS PART
Version: 0.1
-->
<!DOCTYPE html>
<html lang="en">

<%- include('../Basses/head.ejs') %>

<body>
    <%- include('../Basses/header.ejs') %>
    <%- include('../Basses/main.ejs') %>
    <%- include('../Basses/footer.ejs') %>

</body>
<link rel="stylesheet" href="./css/Style.css">
<script src="./js/Index.js"></script>
</html>